*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #34482e;
}
/*HEADER-NAV-LOGO*/
header{
    display: flex;
    align-items: center;
    gap: 2%;
    background-color:#fff;
}

header img{
    width: 100px;
    height: 90px;
}

header h4{
 font-size: small;
 letter-spacing: 3px;
 color: rgb(63, 115, 85);


}

.navbar{
    display: flex;
    gap: 40%;
    margin-left: 20%;
}
header a{
    text-decoration: none;
    color: rgb(63, 115, 85);
    font-weight: 700;
}

header h5{
    margin-left: 36%;
    border: 2px solid rgb(62, 131, 28);
    background-color: rgb(75, 86, 58);
    color: rgb(63, 115, 85);
    border-radius: 5px;
    background-color: aliceblue;
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 1%;
   
}

nav :hover{
    color: rgb(97, 176, 97);
    cursor: pointer;
  
   
}

h5 :hover{
    cursor: pointer;
    color: #309511;
    font-size: medium;
    
}

/*cards design*/

.cards{
    display: flex;
    
}

.story-card{
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 1%;
  margin-top: 10%;
  border: 2px solid rgb(33, 32, 32);  
  border-radius: 3px;
  width: 550px;
  height: 589px;
  background-image: url('../IMG/story.png');
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.story h2{
  margin-top: 3%;
   word-spacing: 5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.story{
    margin-top: 19%;
    border: 1px solid rgb(41, 56, 37);
    width: 650px;
    color: #334a2f;
    background-color: rgb(215, 224, 213);
    height:300px;
    text-align: center;
    padding: 1%;
    border-radius: 3px;
   
}

.story:hover{
    background-color: #768571;
    cursor: pointer;
    color:aliceblue;
}


.story p{
    margin-top: 7%;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}



/*footer*/

* {
    font-family: Open Sans;
  }
  
  .footer-distributed{
    background:#a6c09e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 30%;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:#334a2f;
  }
  
  .footer-distributed .footer-center i{
    
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  /* Footer Center */

  .footer-distributed .footer-center{
    width: 35%;
  }
  
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
   display: inline-block;
    color:#334a2f;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color:#fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:#6d6767;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:#334a2f;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
.footer-center :hover{
      color: #fff;
      cursor: pointer;
  }

  .footer-right  :hover{
    cursor: pointer;
    color: #fff;
  }
  